@model IEnumerable<BugTrackingSystem.Service.Models.UserViewModel>
@{
    ViewBag.Title = "Users";
}
<link rel="stylesheet" type="text/css" href="../../Content/Site.css" />
<div class="col-lg-12 general-container">

    <div id="header" class="row">
        <div id="headerTitle" class="col-sm-6 col-xs-4">
            Users
            <div class="inline-block" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Add user">
                <i class="fa fa-plus round" style="margin: 0" aria-hidden="true" data-toggle="modal" data-target="#AddNewUser">
                </i>
            </div>
        </div>

        <div class="pull-right col-sm-6 col-xs-12" id="Local-search">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="search" id="userSearch" class="form-control"  placeholder="Search">
                    <span class="input-group-addon" style="background-color: #F8FEFE" onclick="SearchUser()">
                        <a href="#">
                            <i class="glyphicon glyphicon-search" id="" style="font-size: 18px;"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="content inline-block" style="margin: 30px 0 20px 30px;">
        Sort by:
        <div class="ui inline dropdown" style="color: #4D868D">
            <div class="text" style="font-weight: normal" id="usersSortBy">First Name</div>
            <i class="dropdown icon"></i>
            <div class="menu" id="usersSortByOptions">
                <div class="item selected inlineDropdown" data-text="First Name">First Name</div>
                <div class="item inlineDropdown" data-text="Last Name">Last Name</div>
            </div>
        </div>
    </div>
    <div class="padding0" id="usersInfo">
        @Html.Action("Users", "Users")
    </div>
</div>


<div id="AddNewUser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" id="TaskModalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-users" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Create new user</h3>
            </div>
            @using (Html.BeginForm("AddUser", "Users", FormMethod.Post, new {id="addUserForm"}))
            {
                <div class="modal-body col-lg-12">
                    <div class="validationError" id="addUserError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Please fill the form
                    </div>
                    <div class="validationError" id="addUserPasswordError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Password doesn't match confirm password</div>
                    <div class="form-group">
                        <div id="FullName">
                            <input maxlength="35" class="form-control" name="FirstName" id="UserFirstName" placeholder="Name">
                            <input maxlength="35" class="form-control" name="LastName" id="UserLastName" placeholder="Surname" style="">
                        </div>
                        <input maxlength="255" class="form-control" type="email" name="Email" id="UserEmail" placeholder="E-mail" style="">
                        <div >
                            <input maxlength="100" class="form-control" type="password" name="Password" id="UserPassword" placeholder="Password">
                            <input maxlength="100" type="password" class="form-control" id="ConfirmUserPassword" placeholder="Confirm password">
                            <div  class="ui selection dropdown modalSingleDropdown pull-right cn" id="UserRole" >
                                <input type="hidden" name="Role" id="createUserRole">
                                <i class="dropdown icon"></i>
                                <div class="default text inner">Role</div>
                                <div class="menu">
                                    <div class="item" data-value="User">User</div>
                                    <div class="item" data-value="Administrator">Admin</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" onclick="" class="btn modalCreateButton">Create</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="DeleteUserModalContainer" data-url="@Url.Action("DeleteUserModal", "Users")"></div>

<div class="modal fade" id="DeleteUserErrorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Attention</h3>
            </div>
            <div class="modal-body">
                <h4>This user has some tasks. You cannot delete this user.</h4>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn modalCreateButton">OK</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#addUserForm').on('submit', (function () {
            var userFirstName = $('#UserFirstName').val();
            var userLastName = $('#UserLastName').val();
            var userEmail = $('#UserEmail').val();
            var userPassword = $('#UserPassword').val();
            var confirmPassword = $('#ConfirmUserPassword').val();
            var userRole = $('#createUserRole').val();
            if (userFirstName === "" || userLastName === "" || userEmail === "" || userPassword === "" || confirmPassword === "" || userRole === "") {
                $('#addUserError').slideDown(300);
                return false;
            } else {
                if (userPassword !== confirmPassword) {
                    $('#addUserError').hide();
                    $('#addUserPasswordError').slideDown(300);
                    return false;
                }
                $('#addUserPasswordError').hide();
                $('#addUserError').hide();
                return true;
            }
        }));
    })
</script>

<script>
    function SearchUser() {
        var search = $('#userSearch').val();
        var sortBy = $('#usersSortBy').html();
        $.ajax({
            type: 'GET',
            data: {
                search: search,
                sortBy: sortBy
            },
            url: '/Users/Users',
            success: function(html) {
                $('#usersInfo').html(html);
            },
            error: function() {
                alert('En error occured. Please try again.');
            }
        });
    }
</script>

<script>
    $('#usersSortByOptions').children().on('click', function () {
        var search = $('#userSearch').val();
        var sortBy = $(this).attr('data-text');
        $.ajax({
            type: 'GET',
            data: {
                search: search,
                sortBy: sortBy
            },
            url: '/Users/Users',
            success: function (html) {
                $('#usersInfo').html(html);
            },
            error: function () {
                alert('En error occured. Please try again.');
            }
        });
    })
</script>



<script>
    $('#userSearch').keypress(function (e) {
        if (e.which == 13) {
            SearchUser();
        }
    });
</script>


<script>
    function SaveUser() {
        var data = $('form').serialize();
        $.ajax({
            type: 'POST',
            data: { userData: data },
            url: '/Users/AddUser',
            success: function () {
                location.reload();
            },
            error: function () {

            }
        });
    }
</script>

<script>
    function showCloseIcon(divId) {
        $(divId).children(".fa").show();

        $(divId).on("mouseleave", function () {
            $(divId).children(".fa").hide();
        });
    }
</script>

<script>
    function DeleteProjectModalShow(id, taskCount) {
        if (taskCount > 0)
        {
            $('#DeleteUserErrorModal').modal('toggle');
        }
        else {
            $.ajax({
                type: 'GET',
                url: '/Users/DeleteUserModal',
                data: {
                    userId: id,
                    taskCount: taskCount
                },
                success: function (data) {
                    $('#DeleteUserModalContainer').html(data);

                    $('#DeleteUserModal').modal('show');
                },
                error: function () {
                    alert('En error occured. Please try again.');
                }
            });
        }      
    }
</script>

<script>
    $('.ui.inline.dropdown')
        .dropdown();;
</script>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>

