@model BugTrackingSystem.Service.Models.UserViewModel

<div class="col-xs-12 padding0" style="margin-bottom: 30px;">
    <div id="TaskUser" class="col-xs-3 col-lg-2 col-sm-3 padding0">
        <img src="@Model.Photo" class="img-circle" />
    </div>
    <div class="col-xs-9 padding0 cut-text" style="margin-top: 5px;">
        <div style="font-size: 14px; padding-bottom: 5px;">@Model.FirstName @Model.LastName</div>
        <div>@Model.Email</div>
    </div>
</div>
