
<div id="UniversalTable" style="margin: 10px 0;">
    @for (int i = 0; i < 3; i++)
    {
        <div class="TableRow">
            <div class="TableRowInfo row">
                <div class="IconElement inline-block pull-left padding-top7">
                    <img src="~/Content/Images/Minor.png" class="img-priority img-responsive">
                </div>
                <div class="col-sm-5 col-xs-10 padding-top7">
                    <div class="ProjectPrefix">
                        TDF-Number
                        <img src="~/Content/Images/Statusinprogress.png" class="inline-block">
                    </div>
                    <div class="ElementText">
                        Subject
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12 padding-top7 xsPaddingNone">
                    <div style="padding-top: 10px;">
                        Project Name
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12 padding-top7 xsPaddingNone">
                    <div>
                        <span style="color: gray; font-size: 12px">Created:</span>
                        <span style="font-size: 12px">10/10/2000</span>
                    </div>
                    <div>
                        <span style="color: gray; font-size: 12px">Updated:</span>
                        <span style="font-size: 12px">10/10/2000</span>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12 xsPaddingNone">
                    <div class="col-sm-4" style="padding: 0;">
                        <img src="~/Content/Images/orwell.jpeg" class="img-circle" alt="userPhoto" height="40" width="40" />
                    </div>
                    <div class="colsm-8" style="padding-top: 10px;">
                        <div style="font-size: 12px;">George</div>
                        <div style="font-size: 12px;">Orwell</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@*<div id="UniversalTable" class="marginFromMenu col-xs-12">
        @for (int i = 0; i < 5; i++)
        {
            <div class="TableRowInfo row">
                <div class="IconElement col-sm-1 padding0">
                    <img src="~/Content/Images/PriorityMinor.png" class="img-priority img-responsive">
                </div>
                <div class="ProjectInfo col-sm-5">
                    <div class="ProjectPrefix">
                        TDF-123
                        <span class="BugStatus ToDo">
                            To do
                        </span>
                    </div>
                    <div class="ElementText">
                        Font for password is different from other labels font on 'Login' screen
                    </div>
                </div>
                <div class="ProjectTitle col-sm-2">
                    The Titan
                </div>
                <div class="Dates col-sm-2">
                    <div class="Created">
                        Created: 10/10/16
                    </div>
                    <div class="Updated">
                        Created: 10/10/16
                    </div>
                </div>
                <div class="AssignedUser col-sm-2">
                    <div class="userInfo">
                        <img src="~/Content/Images/orwell.jpeg" class="img-circle img-responsive " height="45" width="45" alt="userPhoto" />
                    </div>
                    George<br />
                    Orwell
                </div>
            </div>

        }
    </div>*@

