
<div class="modal fade" id="FilterModalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="TaskModalDialog" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-filter" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Create new filter</h3>
            </div>
            <div class="modal-body col-lg-12">
                <form>
                    <div class="form-group">
                        <input class="form-control" id="titleInput" placeholder="Title" style="margin: 0; display: inline-block">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="searchInput" placeholder="Search" style="margin: 0; display: inline-block">
                    </div>
                </form>
                <div class="createFilterSelectLeft inline-block">
                    <select multiple="multiple" id="filterProiritySelect">
                        <option value="Minor">Minor</option>
                        <option value="Major">Major</option>
                        <option value="Critical">Critical</option>
                        <option value="Blocker">Blocker</option>
                    </select>
                </div>
                <div class="createFilterSelectRight inline-block">
                    <select multiple="multiple" id="filterStatusSelect">
                        <option value="ToDo">To Do</option>
                        <option value="InProgress">In Progress</option>
                        <option value="InTesting">In Testing</option>
                        <option value="Done">Done</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
                <div class="createFilterSelectLeft inline-block">
                    @Html.Action("ProjectMultipleSelect", "Filters")
                </div>
                <div class="createFilterSelectRight inline-block">
                    @Html.Action("UserMultipleSelect", "Filters")
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modalCreateButton" id="createFilterButton">Create</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>

<script>

    $("#createFilterButton").click(function () {
        var title = $('#titleInput').val();
        var search = $('#searchInput').val();
        var priority = $("#filterProiritySelect").multipleSelect("getSelects");
        var status = $("#filterStatusSelect").multipleSelect("getSelects");
        var projects = $("#filterProjectsSelect").multipleSelect("getSelects");
        var users = $("#filterUsersSelect").multipleSelect("getSelects");
        $.ajax({
            type: 'POST',
            url: '/Filters/AddFilter',
            data: {
                title: title,
                search: search,
                priority: priority,
                status: status,
                projects: projects,
                users: users
            },
            success: function(data) {
                $('#filtersContainer').html(data);
                $('#FilterModalWindow').modal('toggle');
            }
        });
    });
</script>

<script>
    $("#filterProiritySelect").multipleSelect({
        placeholder: "Priority"
    });
    $("#filterStatusSelect").multipleSelect({
        placeholder: "Status"
    });
</script>