

<div class="modal fade" id="DeleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="DeleteProjectModalDialog" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-check-circle-o" style="font-size:25px; margin-right: 5px;" aria-hidden="true"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Confirm</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this project?</h4>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn modalCreateButton" id="PauseProjectNO">Cancel</button>
                <button type="button" data-dismiss="modal" id="addProject" class="btn modalCreateButton PauseProjectYes" onclick="DeleteProject(@ViewBag.ProjectId)">Delete</button>
            </div>
        </div>
</div>
</div>


<script>
    function DeleteProject(id) {
        $.ajax({
            type: 'POST',
            data: { projectId: id },
            url: '/Shared/DeleteProject',
            success: function () {
                window.location = '/Project/Index';
            },
            error: function () {
                alert('An error occured. Please try again.');
            }
        });
    }
</script>