

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 general-container" style="padding: 0 55px 0 65px">
    @Html.Action("SearchFilter", "Search", new {filterId = @ViewBag.FilterId, search = @ViewBag.Search})

    <div class="content col-xs-12" style="margin: 0 0 20px 15px;">
        Sort by:
        <div class="ui inline dropdown">
            <div class="text" style="font-weight: normal" id="projectBugSortBy">Title</div>
            <i class="dropdown icon"></i>
            <div class="menu" id="projectBugSortByOptions">
                <div class="item selected inlineDropdown" data-text="Title">Title</div>
                <div class="item inlineDropdown" data-text="Assignee">Assignee</div>
                <div class="item inlineDropdown" data-text="Status">Status</div>
                <div class="item inlineDropdown" data-text="Priority">Priority</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 padding0">
        @Html.Action("ProjectBugs", "Project", new { projectId = 15})
    </div>
</div>

<script>
    $('.ui.inline.dropdown')
        .dropdown();;
</script>



<script>
    $("#filterProiritySelect").multipleSelect({
        placeholder: "Priority"
    });
    $("#filterStatusSelect").multipleSelect({
        placeholder: "Status"
    });
</script>

