@{
    Layout = null;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        .validation-summary-errors li {
            list-style-type: none;
        }
        .validation-summary-errors ul {
            padding: 0;
            margin: 0;
        }
    </style>
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../../Content/login_style.css">
    <title>Forget password</title>
</head>
<body>
<div class="Login">
    <div id="logo">
        <img src="~/Content/images/logo-vertical.png"/>
    </div>
    <div id="errorText">
        @Html.ValidationSummary(false)
    </div>
    <div id="helpText">
        If you can't access Asignar, fill in this form and an email will be <br/>
        sent to you with the details to access your account again.
    </div>
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new {@class = "loginForm", id="forgotPasswordForm"}))
    {
        <input type="text" name="email" placeholder="Email" id="resetPasswordEmail"/>
        <br/>
        <input type="submit" value="Send" id="sendEmail"/>

        <a href="@Url.Action("Login", "Login")" id="hrefToLogin">Login</a>
    }
</div>

</body>
</html>
