@{
    Layout = null;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" type="text/javascript"></script>
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/login_style.css">
    <title>Reset password</title>
</head>
<body>
<div class="Login">
    <div id="logo">
        <img src="~/Content/images/logo-vertical.png"/>
    </div>
    <div id="resetPasswordFreeSpace">
    </div>
    <div class="validationError" id="editUserPasswordError" style="text-align: center; color: #E1A794; display: none;">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px;"></i>Please fill the form
    </div>
    <div class="validationError" id="editUserRepeatPasswordError" style="text-align: center; color: #E1A794; display: none;">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px;"></i>Password doesn't match confirm password
    </div>
    <input type="password" name="pass" id="password" placeholder="Password"/> <br/>
    <input type="password" id="confirmPassword" name="confirmPass" placeholder="Confirmation password"/>
    <input type="submit" value="Reset password" onclick="ChangeUserPassword()"/>
    <a href="@Url.Action("Login", "Login")" id="hrefToLogin">Login</a>
</div>

    <script>
        function ChangeUserPassword() {
            var password = $('#password').val();
            var repeatPassword = $('#confirmPassword').val();
            if (password !== "" && repeatPassword !== "") {
                if (password !== repeatPassword) {
                    $('#editUserPasswordError').hide();
                    $('#editUserRepeatPasswordError').slideDown(300);
                } else {
                    $('#editUserPasswordError').hide();
                    $('#editUserRepeatPasswordError').hide();
                    $.ajax({
                        type: 'POST',
                        data: { userId: @ViewBag.UserId, password: password },
                        url: '/Login/ResetPasswordConfirm',
                        success: function() {
                            //window.location.replace('http://localhost:2241/Login/Login');
                            window.location.replace('http://asignar.azurewebsites.net/Login/Login');
                        },
                        error: function () {
                            alert('An error occured. Please try again.');
                        }
                    });
                }
            } else {
                $('#editUserPasswordError').slideDown(300);
                $('#editUserRepeatPasswordError').hide();
            }

        }
    </script>
</body>
</html>
