@model IEnumerable<BugTrackingSystem.Service.Models.ProjectViewModel>

<select multiple="multiple" id="filterProjectsSelect">
    @foreach (var project in Model)
    {
        <option value="@project.ProjectId">@project.Name</option>
    }
</select>

<script>
    $("#filterProjectsSelect").multipleSelect({
        placeholder: "Project"
    });
</script>